[submodule "modules/slime"]
	path = modules/slime
	url = https://github.com/emacsmirror/slime.git
[submodule "modules/python-mode"]
	path = modules/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "elisp/python-mode"]
	path = elisp/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = https://github.com/emacsmirror/slime.git
